---

---

<div
  id="aboutus"
  class="grid md:grid-cols-2 grid-cols-1 gap-4 px-[4rem] py-[8rem] font-poppins"
>
  <div class="col-span-1 flex flex-col items-center justify-center text-center">
    <h1
      class="mb-4 bg-gradient-white"
      style=" background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-align: center; font-family: Poppins; font-size: 70px; font-style: normal; font-weight: 600; line-height: 100%; letter-spacing: -3px;"
    >
      Descubre Quiénes Somos
    </h1>

    <img
      src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/iris-astro/vd5ypoo81drz6jnvabnx"
      alt="Descripción de la imagen"
      class="w-full"
    />
  </div>

  <div class="col-span-1 grid md:grid-cols-2 grid-cols-1 gap-4">
    <div class="col-span-1 items-center flex flex-col justify-center mb-4">
      <div
        class="bg-white p-4 text-center rounded-lg shadow-md py-[4rem] mx-[4rem] md:mx-[0]"
      >
        <img
          src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/iris-astro/fao2tekoymhqqpkvo0qp"
          alt="Descripción de la imagen 1"
          class="w-[14rem] h-auto rounded-full mb-2 object-cover shadow-lg mx-auto"
        />
        <h2 class="w-88 h-34 text-black text-16 font-bold leading-26">
          IRIS COMPANY
        </h2>
        <p>Intelligence, Research, Innovation, Science</p>
      </div>
    </div>

    <div class="col-span-1 items-center flex flex-col justify-center gap-4">
      <div
        class="bg-white p-4 text-center rounded-lg shadow-md py-[4rem] mx-[8rem] md:mx-[0]"
      >
        <img
          src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/iris-astro/gxhcixcsykx4pgwdebdy"
          alt="Descripción de la imagen 1"
          class="w-[14rem] h-auto rounded-full mb-2 object-cover shadow-lg mx-auto"
        />
        <h2 class="w-88 h-34 text-black text-16 font-bold leading-26">
          MISIÓN
        </h2>
        <p>
          Impulsar el progreso mediante la innovación tecnológica y cientifica,
          ofreciendo soluciones personalizadas que aporten valor real.
        </p>
      </div>

      <div
        class="bg-white p-4 text-center rounded-lg shadow-md py-[4rem] mx-[8rem] md:mx-[0]"
      >
        <img
          src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/iris-astro/mlwrgeh2z5q4dfct5qob"
          alt="Descripción de la imagen 1"
          class="md:w-[14rem] w-[7rem] h-auto rounded-full mb-2 object-cover shadow-lg mx-auto"
        />
        <h2 class="w-88 h-34 text-black text-16 font-bold leading-26">
          VISIÓN
        </h2>
        <p>
          Trascender los límites de la innovación mejorando la calidad de vida
          de las personas, en donde las soluciones sean inclusivas y
          sostenibles.
        </p>
      </div>
    </div>
  </div>
</div>
